.header {
    margin: 2rem 10%;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(223, 97, 97, 0.795); /* Darker blue */
    background-color: #1c2a3a; /* Dark blue background */
    font-family: ui-monospace;
  }
  
  .logo {
    font-size: 2rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    color: #f0f8ff; /* Light blue for contrast */
  }
  
  .button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
    background-color: #405b8e; /* Slightly lighter blue */
    color: #f0f8ff; /* Light blue text */
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); /* Slightly darker shadow */
    cursor: pointer;
    font-weight: bold;
  }
  
  .button:hover {
    background-color: #3a4e73; /* Darker shade of the button */
  }
  