.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(30, 41, 63, 0.5); /* Dark blue tint for the backdrop */
    z-index: 1;
  }
  
  .modal {
    border: none;
    border-radius: 6px;
    box-shadow: 0 3px 8px rgba(223, 97, 97, 0.795); /* Darker shadow for a more pronounced effect */
    background-color:#f0f8ff; /* Dark blue background for the modal */
    color: #f0f8ff; /* Light blue text for content */
    padding: 1rem; /* Added padding for spacing */
    overflow: hidden;
    z-index: 2; /* Ensure modal is above the backdrop */
  }
  